<p-table [value]="sizes.tableData" styleClass="p-datatable-striped border-1 border-bluegray-100 border-round-sm mt-4">
  <ng-template pTemplate="header">
    <tr>
      <th class="border-right-1 border-bluegray-100"></th>
      <th class="font-normal" *ngFor="let size of sizes.sizes">{{ size }}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData>
    <tr>
      <td class="w-13rem border-right-1 border-bluegray-100">{{ rowData.name | title }}</td>
      <td *ngFor="let size of sizes.sizes">
        {{ rowData[size] | toInch : inch }}
      </td>
    </tr>
  </ng-template>
</p-table>
