.top-panel {
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
  }
  
  .content-container {
    padding-top: 71px;
    padding-left: 0px;
    padding-bottom: 0px;
  }
  